local M = {}

M.nodes = {
  {
    address_ipv4 = "127.0.0.1:1234",
    public_key = "abcdef",
  },
  {
    address_ipv4 = "127.0.0.1:5678",
    public_key = "wxyz",
  },
}

M.keys = {
  public = "1111",
  private = "2222",
}

-- configure global or specific logger channel levels
M.logging = {
    size = 1048576,
    count = 100,
    directory = "log",

    -- set to true to log to console
    console = false,

    -- set the logging level for various modules
    -- modules not overridden with get the value from DEFAULT
    -- the default value for DEFAULT is "critical"
    levels = {
        DEFAULT = "error",

        -- some specific logging channels: (there may be others)
        -- submission = "info",
    }
}

return M
