local M = {}

M.nodes = {
  {
    address_ipv4 = "127.0.0.1",
    broadcast_port = "2135",
    command_port = "2136",
    public_key = "abcdef",
    chain = "bitmark", -- one of "bitmark", "testing", "local"
    name = "name1",
  },
  {
    address_ipv4 = "127.0.0.1:5678",
    broadcast_port = "2135",
    command_port = "2136",
    public_key = "wxyz",
    chain = "testing",
    name = "name2",
  },
}

M.keys = {
  public = "PUBLIC:1111",
  private = "PRIVATE:2222",
}

-- configure global or specific logger channel levels
M.logging = {
    size = 1048576,
    count = 100,
    directory = "log",

    -- set to true to log to console
    console = false,

    -- set the logging level for various modules
    -- modules not overridden with get the value from DEFAULT
    -- the default value for DEFAULT is "critical"
    levels = {
        DEFAULT = "error",

        -- some specific logging channels: (there may be others)
        -- submission = "info",
    }
}

M.heartbeat_interval_second = 60

return M
